header{
    background: #dee0e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav{
    background: #004798;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

header nav a{
    padding: 11px 20px;
    color: white;
}

header nav a:hover{
    background: #0172f4;
    color: white;
    text-decoration: none;
}

.logo{
    width: 100px;
    background: #d1f85d;
}

.container{
    background: #2affe6;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.card{
    background: #0122f8;
    width: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*flex: 1;*/
}
/*
.imagem{
    background: #ff0707;
    border-color: #ff0000;
    border-radius: 5px;
    width: 250px;
    height: 200px;
}*/

.botao{
    background: #d21793;
    display: flex;
    justify-content: center;
    margin-top: auto; /* Empurra o botão para o fim da div */    
}

footer{
    background: #230228;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.redes{
    background: #bd38ff;
    width: 30px;
    height: 30px;
}