body{
    margin: 0;
    font-family: sans-serif;
}

.container{
    padding: 20px;
    background-color: #f4f4f4;
}

/* MOBILE FIRST - Estilo padrão (celular) */
.caixa{
    width: 100%;
    background: steelblue;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 10px;
}

/* TABLET e acima */
@media (min-width: 768px){
    .container{
        display: flex;
        gap: 20px;
    }

    .caixa{
        flex: 1;
        font-size: 20px;
    }    
}

/* DESKTOP e acima */
@media (min-width: 1024px){
    .caixa{
        font-size: 22px;
        padding: 30px;
    }
}